<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- mybatis全局配置 -->
	<settings>
		<!-- 禁用延迟加载 -->
		<setting name="lazyLoadingEnabled" value="false"/>
		<!-- 开启驼峰命名 -->
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<!-- 开启主键生成 -->
		<setting name="useGeneratedKeys" value="true"/>
		<!-- LOG4J -->
		<setting name="logImpl" value="LOG4J"/>
	</settings>
	<!-- 别名 -->
	<typeAliases>
		<package name="com.abdts.entity.teacher"/>
	</typeAliases>
</configuration>